<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soumyadip Ghorai</title>
    <!-- -------------css------------ -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/about_section.css">
    <link rel="stylesheet" href="css/project.css">
    <link rel="stylesheet" href="css/education.css">
    <link rel="stylesheet" href="css/photo_section.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/contribution.css">
    <link rel="stylesheet" href="css/form.css">
    <!-- ------------js-------------- -->
    <script type="text/javascript" src="js/auto_typer.js"></script>
    <!-- fav icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
</head>
<body>
    <header>
        <div class="top-nav-bar">
            <div class="header-logo">
                <p class="ghor">ghor<span class="ai">AI</span></p>
            </div>
            <div class="nav-bar-menu">
                <ul>
                    <!-- <li class="nav-bar-menu-item"><a href="/" class="">home</a></li> -->
                    <li class="nav-bar-menu-item"><a href="#about-me" class="">About</a></li>
                    <li class="nav-bar-menu-item"><a href="#my-project" class="">Project</a></li>
                    <li class="nav-bar-menu-item"><a href="#education" class="">Education</a></li>
                    <li class="nav-bar-menu-item"><a href="#photo-gallery" class="">Gallery</a></li>
                    <!-- <li class="nav-bar-menu-item"><a href="#contact-me" class="">Contact Me</a></li> -->
                </ul>
            </div> 
            <div class="hire-me">
                <a href="#contact-me"><button>Hire me</button></a>
            </div>
        </div>
    </header>

    <section class="hero-header">
        <div class="hero-header-text">
            <div class="hero-header-tag-line">
                <span id="header-text1"><b>Hi!</b> This is Soumyadip</span><span class="random_text" style="color: white;">random spaces</span><br> 
                <!-- <p class="line-1 anim-typewriter"><b>Hi!</b> This is Soumyadip</p> -->
                <div class="wrapper">
                    <span id="header-text2">I'm a Data&nbsp;</span>
                    <a href="" class="typewrite" data-period="2000" data-type='["Analyst", "Scientist", "Storyteller"]'>
                        <span class="wrap"></span>
                    </a>
                </div>
            </div>
            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 14c-3.314 0-6-2.686-6-6s2.686-6 6-6 6 2.686 6 6-2.686 6-6 6z"/></svg>
                <p>India</p>
            </div>
            <div class="coding-platforms">
                <a href="https://github.com/soumyadipghorai" target="_blank"><img src="images/github.png" alt=""></a>
                <a href="" target="_blank"><img src="images/kaggle.png" alt=""></a>
                <a href="" target="_blank"><img src="images/hackerrank.png" alt=""></a>       
                <a href="" target="_blank"><img src="images/codechef.png" alt=""></a>
            </div>

            <div class="resume">
                <a href="" class="resume"><button>Resume</button></a>
                <!-- <div class="hire-me">
                    <a href="#contact-me"><button>Hire me</button></a>
                </div> -->
            </div>
        </div>
        <div class="hero-header-iamge">
            <img src="images/header_image.jpg" alt="my_image">
        </div>
    </section>

    <section class="contribution">
        <div class="contribution-text">
            <h4>Experience</h4>
            <!-- <p>I have contributed to the following organizations</p> -->
        </div>
        <div class="contribution-div">
            <div class="contribution-image-container">
                <div class="company-div">
                    <img src="images/company_1.png" alt="company1">
                    <div class="company-div-text">
                        <p>Intern</p>
                    </div>
                </div>
                <div class="company-div">
                    <img style="height: 50px;" src="images/Untitled-3.jpg" alt="company2">
                    <div class="company-div-text">
                        <p style="margin-top: 30px;">Core Team member</p>
                    </div>
                </div>
                <div class="company-div">
                    <img style="height: 60px;" src="images/Untitled-2.jpg" alt="company1">
                    <div class="company-div-text">
                        <p>Founder</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-section" id="about-me">
        <div class="about-section-main">
            <div class="about-section-image">
                <img src="images/about_me.jpg" alt="about_me">
            </div>
            <div class="about-section-text">
                <h2 class="about-section-header">
                    About Myself
                </h2>
                <div class="about-section-para">
                    <p>I'm a self driven individual with good problem solving skills and a growth mindset. I'm learning data science, python, machine learning and web development from IIT Madras, Christ University, Bangalore and various other open sources.</p>
                    
                    <p>Along with that I'm a state level athlete. I love mountains and adventure sports and I love to organize events and work best with like minded people. </p>

                    <p>I would love to contribute to the growing startups in Banglore as a Data Analyst or Data Scientist, explore new challenges and find out the best sector for me.</p>
                </div>
            </div>
        </div>
        <div class="about-section-skills">
            <div class="about-section-skills-text">
                <h3 class="about-section-header">
                    skills
                </h3>
                <p class="about-section-para">
                    Here is some of the things that I think I'm good at... 😋
                </p>
            </div>
            <div class="about-section-skills-text-progressbar">
                <div class="skills-flex1">
                    <div style="width: 50%;" class="skills-subflex">
                        <p>Python</p>
                        <div class="skills-container">
                            <div class="skills python" id="python">90%</div>
                        </div>
                    </div>
                    <div style="width: 50%;" class="skills-subflex">
                        <p>SQL</p>
                        <div class="skills-container">
                            <div class="skills sql" id="sql">80%</div>
                        </div>
                    </div>
                </div>
                <div class="skills-flex1">
                    <div style="width: 50%;" class="skills-subflex">
                        <p>HTML | CSS</p>
                        <div class="skills-container">
                            <div class="skills html" id="html">65%</div>
                        </div>
                    </div>
                    <div style="width: 50%;" class="skills-subflex">
                        <p>Machine Learning</p>
                        <div class="skills-container">
                            <div class="skills ml" id="ml">60%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="project" id="my-project">
        <div class="project-text">
            <h3 class="project-text-header">
                My Projects
            </h3>
            <p class="project-text-para">
                Here's some of my best projects 
            </p>
        </div>
        <div class="project-container">
            <div class="container-project">
                <img src="images/kaggle_covid.png" alt="">
                <h4>Covid-19 EDA</h4>
                <p>A kaggle based EDA project where I captured various trends of covid vaccintion</p>
            </div>
            <div class="container-project">
                <img src="images/news_scapper.png" alt="">
                <h4>News Scrapper</h4>
                <p>Flask based web app which scraps multiple news websites on real time</p>
            </div>
            <div class="container-project">
                <img src="images/dogecoin.jpg" alt="">
                <h4>Doge Coin</h4>
                <p>Graduation Final year project on Doge coin. Applyed various statistical methods</p>
            </div>
        </div>
    </section>
    
    <section class="education" id="education">
        <div class="education-college">
            <h4>Education</h4>
        </div>
        <div class="history-tl-container">
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                    2018 Oct - 2021 Oct
                    </div>
                    <div class="item-title">University of Calcutta</div>
                    <div class="item-detail">Represented my college in State Level meet</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                    April 2021 - Present
                    </div>
                    <div class="item-title">IIT, Madras</div>
                    <div class="item-detail">Among the top 10percentile in the qualifire round</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                    Aug 2021 - Present
                    </div>
                    <div class="item-title">Christ University, Bangalore</div>
                    <div class="item-detail">Google Developers Student Club Core team member</div>
                </li>
          
            </ul>
          
          </div>
    </section>

    <!-- <section class="certifications">
        <div class="certifications-text">
            <h3>certifications</h3>
            <p>I'm Certified by the following</p>
        </div>
        <div class="certificates">
            <div class="certificate-image">
                <img src="" alt="">
            </div>
            <div class="certificate-text">
                <p>Python</p>
            </div>
        </div>
    </section> -->

    <section class="photo-gallery" id="photo-gallery">
        <div class="photo-gallery-text">
            <h4>My Photo Gallery</h4>
            <p> When I'm not coding I'm either capturing moments or backpacking for mountains</p>
            <p>I don't own a DSLR yet so I capture with my phone</p>
            <p>Here are some of my captures</p>
        </div>
        <div class="photo-gallery-container">
            <div class="photo-container-1">
                <img src="images/photo_gallery1.jpeg" alt="photo-gallery">
                <img src="images/photo_gallery2.jpg" alt="photo-gallery">
            </div>
            <div class="photo-container-2">
                <div class="photo-container-2-1">
                    <img style="height: 388px;" src="images/photo_gallery4.jpeg" alt="photo-gallery">
                </div>
                <div class="photo-container-2-2">
                    <img style="width: 530px;" src="images/photo_gallery3.jpg" alt="photo-gallery">
                </div>
            </div>
        </div>
    </section>

    <section class="contact-me" id="contact-me">
        <div class="form-container">
            <div class="contact-me-text">
                <h4>Contact Me</h4>
                <p>Fill out this form to reach out to me</p>
            </div>
            <div class="contact-me-form">
                <form action="">
                    <p>Name : <input class="input-box" type="text" id='name' required placeholder="Enter your name"></p>
                    <p>Email : <input class="input-box" type="email" id = 'email' required placeholder="Enter email"></p>
                    <p>Subject : <input style="margin-left: 5px;" class="input-box" type="text" id='subject' required placeholder="Enter subject"></p>
                    <p>Message : <input class="input-box large" type="text" id='message' required placeholder="Type your message..."></p>
                    <input class='submit' type="Submit" name="Send" value="SUBMIT">
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="follow-me">
            <h4> Follow Me</h4>
            <p>Let's be social</p>
            <div class="social-links">
                <a href=""><img src="images/social_media_1.png" alt="Linkedin"></a>
                <a href=""><img src="images/social_media_2.png" alt="Instagram"></a>
                <a href=""><img src="images/social_media_3.png" alt="Facebook"></a>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright @2021 | Created with ❤️ by <span>Soumyadip Ghorai</span> </p>
        </div>
    </footer>
</body>
</html>